[Desktop Entry]
Version=1.0
Type=Application
Name=Funktionsgenerator AE20125
Comment=Steuerungssoftware für FG AE20125
TryExec=fg_ae20125
Exec=fg_ae20125
Icon=fg_ae20125
MimeType=image/x-foo;
